/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/*article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */

.header {
    padding: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    margin-top: 50px;
}

.header__title {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.header__nav {
    font-size: 1.6rem;
    word-spacing: 2rem;
    letter-spacing: 0.1rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    width: 100%;
    margin-bottom: 10px;
}

.body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border: 2px;
}

.body__section {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #333333;
}

.body__section__title {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.body__section__paragraph {
    font-size: 16px;
    padding: 3px;
    margin: 1px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.body__section__paragraphTitle {
    font-size: 1.1rem;
    padding: 3px;
    margin: 3px;
    text-indent: 0.5em;
}

.body__list {
    margin: 3px;
}

.body__list__item {
    font-size: 0.9em;
    padding: 5px;
    margin: 5px;
}

.body__text__emphasized {
    font-style: italic;
}

.footer {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #555555;
}

.footer__quote {
    padding: 10px;
}

.footer__quote__paragraph {
    margin-bottom: 10px;
}

.footer__quote__cite {
    font-style: italic;
}

.body__section__title,
.body__section__paragraph,
.body__list__item,
.footer__quote__paragraph {
    line-height: 1.0;
}

.footer__socials {
    padding: 10px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body__section {
    flex: 1 1 30%;
    margin: 10px;
}

@media screen and (max-width: 1920px) {
    .body__section {
        flex: 1 1 45%;
    }
}

@media screen and (max-width: 1440px) {
    .body__section {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 1024px) {
    .body__section {
        flex: 1 1 100%;
    }

    .header__nav {
        word-spacing: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .header__nav {
        word-spacing: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .body__section {
        flex: 1 1 100%;
    }
}

.table_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    place-self: center;
}

.table_container thead,
tbody,
tr {
    display: contents;
}

.table_container td,
th {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.table_container th {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #d75d10;
}

.table_container tbody tr:nth-child(even) td {
    background-color: #dce8f2;
}

.table_container tbody tr:nth-child(odd) td {
    background-color: dimgray;
}

.block_menu_news {
    background-color: #dce8f2;
    padding: 20px;
    text-align: center;
}

.block_menu_news h2 {
    color: #070c11;
    font-size: 2.5rem;
}

a:hover {
    color: #d75d10;
}

a.active {
    color: #9c1f1fdd;
}